<h1><%= @month %> <%= @year %> (<%= pluralize(@transactions.length, 'transaction') %>)</h1>

<%= will_paginate @transactions %>

<table class="table table-bordered">

  <thead>
    <tr class="header_row">
      <th><%= sortable "date_transacted", "Date" %></th>
      <th><%= sortable "item_id", "Category" %></th>
      <th><%= sortable "source_id", "Vendor" %></th>
      <th><%= sortable "amount" %></th>
      <th><%= sortable "payment_type_id", "Payment Type" %></th>
      <th>Notes</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |t| %>
    <tr class="item_row">
    	<td><%= link_to t.date_transacted.strftime('%d-%b-%Y'), edit_transaction_path(t) %></td>
    	<td><%= link_to t.item.name, item_path(t.item_id) %></td>
    	<td><%= link_to t.source.name, source_path(t.source_id) %></td>
    	<td class="number_cell"><%= number_to_currency(t.amount) %></td>
      <td><%= link_to t.payment_type.name, payment_type_path(t.payment_type_id) %></td>
    	<td><%= t.notes %></td>
      <td><%= link_to "edit", edit_transaction_path(t) %> <%= link_to "delete", t, method: :delete, data: { confirm: "You sure?" } %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @transactions %>

<%= link_to "Back", portfolio_path(current_user.portfolio.id), class: "btn btn-large btn-primary" %>