<h3><%= link_to @portfolio.name, @portfolio %></h3>


<%= simple_form_for(@transaction, html: {class: 'form-horizontal'}) do |f| %>
<table>
	<tr>
		<td>
<%= f.input :notes %>
</td><td>
<%= f.input :notes %>
</td></tr> 
</table>
<% end %>

<table>
<%= simple_form_for(@transaction, html: {class: 'form-horizontal'}) do |f| %>
	<tr>
		<td>
	<%= f.label 'Category' %>
	<%= f.collection_select(:item_id, @portfolio.items, :id, :full_name) %>
	<div><%= link_to "Add New Category", new_category_path, class: "btn btn-medium btn-success" %></div>
	<%= f.label 'Source' %>
	<%= f.collection_select(:source_id, @portfolio.sources, :id, :name) %>
	<div><%= link_to "Add New Source", new_source_path, class: "btn btn-medium btn-success" %></div>
	<%= f.label :date %>
	<%= f.date_field(:date, value: Time.now.strftime("%Y-%m-%d")) %>
	<%= f.label :amount %>
	<%= f.number_field :amount, step: 0.01 %>
	<%= f.input :notes %>
	<!--<%= f.text_field :notes %>-->
	<%= f.label :income %>
	<%= f.check_box :income %>
</td>
<td>
	<%= f.label :recurring %>
	<%= f.check_box :recurring %>
	<div id="optional" style="display:none">
	<%= f.label :frequency %>	
	<%= f.collection_select(:frequency, [['Weekly', 1],['Biweekly', 2],['Monthly', 3]], :last, :first) %>	
	<%= f.label :date_started %>
	<%= f.date_field(:date_started, value: Time.now.strftime("%Y-%m-%d")) %>
	<%= f.label :date_completed %>
	<%= f.date_field(:date_completed, value: Time.now.strftime("%Y-%m-%d")) %>
    </div>
</td>
</tr>
<tr>
	<td><br>
	<%= f.submit "Add Transaction", class: "btn btn-large btn-primary" %>
	</td>
</tr>
<% end %>
</table>

<script type="text/javascript">
  $('#transaction_recurring').click(function() {
    $('#optional').toggle(this.checked);
  });
</script>