<h1><%= @month %> <%= @year %> (<%= pluralize(@transactions.total_entries, 'transaction') %>)</h1>
<h1>Total Spent : <%= number_to_currency(@total_spend) %></h1>

<div class="row">
<div class="span4">
  <table class="table-nonfluid table-bordered">
    <tr class="invalid_item_row">
      <td><%= @transactions.where(validated: false).count %> unreconciled</td>
    </tr>
    <tr class="duplicate_item_row">
      <td><%= @transactions.where('suspected_dupe_id > 0').count %> suspected duplicates</td>
    </tr>
  </table>
</div>
</div>
 
<div>
<%= will_paginate @transactions %>

<table class="table table-bordered">

  <thead>
    <tr class="header_row">
      <th><%= sortable "date_transacted", "Date" %></th>
      <th><%= sortable "item_id", "Category" %></th>
      <th><%= sortable "source_id", "Vendor" %></th>
      <th><%= sortable "amount" %></th>
      <th><%= sortable "payment_type_id", "Payment Type" %></th>
      <th>Tax Credit</th>
      <th>Notes</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |t| %>
    <tr class="<%= t.suspected_dupe_id ? 'duplicate_item_row' : t.validated ? 'item_row' : 'invalid_item_row' %>">
    	<td><%= link_to t.date_transacted.strftime('%d-%b-%Y'), edit_transaction_path(t) %></td>
    	<td><%= link_to t.item.name, item_path(t.item_id) %></td>
    	<td><%= link_to t.source.name, source_path(t.source_id) %></td>
    	<td class="number_cell"><%= number_to_currency(t.amount) %></td>
      <td><%= link_to t.payment_type.name, payment_type_path(t.payment_type_id) %></td>
      <td><%= t.tax_credit ? 'Yes' : 'No' %></td>
    	<td><%= t.notes %></td>
      <td><%= link_to "edit", edit_transaction_path(t) %> <%= link_to "delete", t, method: :delete, data: { confirm: "You sure?" } %></td>
    </tr>
    <% end %>
  </tbody>

</table>


  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @transactions %>
    </div>
    <%= will_paginate @transactions %>
  </div>
</div>

<div>
Transactions per page <%= select_tag :per_page, options_for_select([10,25,50,100,@transactions.total_entries], params[:per_page].to_i),
       { onchange: "if(this.value){window.location='?per_page='+this.value;}", class: 'span1' } %>
</div>

<%= link_to "Back", portfolio_path(params[:id]), class: "btn btn-large btn-primary" %>
