<% provide(:title, "New category") %>

<%= simple_form_for(@category, html: {class: 'form-vertical'}, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: @category %>
  <%= f.input :name %>

  <%= f.simple_fields_for :items do |item_fields| %>
    <%= render 'item_fields', :f => item_fields %>  
  <% end %>
      
  <p>
    <%= link_to_add_fields "Add Item", f, :items %>     
  </p>

  <%= f.button :submit, class: "btn btn-medium btn-primary" %>
<% end %>