<div class="control-group category_fields">

<table>
	<tr>
    
    <td>
    <%= f.input :item_id do %>
      <%= f.collection_select(:item_id, @portfolio.items, :id, :full_name) %>
	<% end %>
	</td>
	<td>
	<%= f.input :amount, input_html: {step: 0.01} %>
	</td>
	<td>
	<%= f.input :notes %>
	</td>
    
    </tr>
</table>

<%= link_to_remove_fields "remove", f %>

<%= f.input :date_transacted, as: :hidden %>	
<%= f.input :source_id, as: :hidden, input_html: { value: f.object.source_id } %>	
<%= f.input :payment_type_id, as: :hidden %>	

<%= f.input :validated, as: :hidden, input_html: { value: 't' } %>	
<%= f.input :edit_mode, as: :hidden, input_html: { value: 'f' } %>	

</div>