<h1>Edit Transaction <%= "(#{@current} of #{@total})" unless @current.nil? %></h1>

<%= render 'shared/error_messages', object: @transaction %>

<%= simple_form_for(@transaction, html: {class: 'input_fields'},
		url: {action: 'update_individual', controller: 'transactions'}, method: 'put') do |f| %>
  <%= render 'edit_individual_fields', f: f %>

  <p>
    <%= link_to_split_transactions "Split", f, @transaction, :transactions %>     
  </p>

  <div class="separator">
  	<%= f.submit "Next", class: "btn btn-large btn-primary" %>
  	<%= f.submit "Cancel", class: "btn btn-large btn-primary" %>
  </div>

<% end %>

<%= render 'layouts/modal' %>