<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Budget Tracker", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Transactions<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.portfolio && !current_user.portfolio.id.blank? && !current_user.portfolio.name.blank? %>
                  <li><%= link_to "Import", new_transaction_import_path %></li>
                  <li><%= link_to "Add New", portfolio_path(current_user.portfolio) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Show Imported", transaction_imports_path %></li>
                  <li><%= link_to "Show Unreconciled", unreconciled_transactions_path %></li>
                  <li><%= link_to "Show Duplicates", duplicated_transactions_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Edit Imported", edit_multiple_transactions_path(edit_individual: true, edit_type: :imported), method: :post %></li>
                  <li><%= link_to "Edit Unreconciled", edit_multiple_transactions_path(edit_individual: true, edit_type: :unreconciled), method: :post %></li>
                  <li><%= link_to "Edit Duplicates", edit_multiple_transactions_path(edit_individual: true, edit_type: :duplicated), method: :post %></li>
                <% end %>
              </ul>
            </li>            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <% if current_user.portfolio && !current_user.portfolio.id.blank? && !current_user.portfolio.name.blank? %>
                  <li><%= link_to "Manage Portfolio", manage_path %></li>
                  <li><%= link_to "Add Transactions", portfolio_path(current_user.portfolio) %></li>
                <% else %>
                  <li><%= link_to "Create Portfolio", new_portfolio_path %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>